.intro {
    margin: 0;
    padding-bottom: 118px;
    padding-left: 148px;
}

@media screen and (min-width:1280px) {
    .intro {
        padding-left: calc((100vw - 984px)/2);
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 0 auto;
        max-width: 720px;
        padding-left: 0;
        padding-bottom: 90px;
    }    
}

@media screen and (max-width: 544px) {
    .intro {
        max-width: 288px;
    }    
}

.intro__title {
    margin: 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.1;
    max-width: 785px;
    padding-bottom: 40px;
}

@media screen and (max-width: 1024px) {
    .intro__title {
        margin: 0 auto;
    }
}

@media screen and (max-width: 544px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.1;
        max-width: 288px;
    }
}

.intro__text {
    font-size: 24px;
    line-height: 1.4;
    max-width: 720px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .intro__text {
        margin: 0 auto;
    }
}

@media screen and (max-width: 544px) {
    .intro__text {
        line-height: 1.2;
        max-width: 288px;
    }
}

.intro__text-author {
    font-size: 24px;
    line-height: 1.4;
    max-width: 720px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 32px;
}

@media screen and (max-width: 1024px) {
    .intro__text-author {
    }
}

@media screen and (max-width: 544px) {
    .intro__text-author {
        max-width: 288px;
    }
}

.intro__text-small {
    max-width: 720px;
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
}

@media screen and (max-width: 1024px) {
    .intro__text-small {
        margin: 0 auto;
    }
}

@media screen and (max-width: 544px) {
    .intro__text-small {
        max-width: 288px;
    }
}
